<a href="https://colab.research.google.com/github/mhprawiro/historical_tsunami/blob/main/tsunami_indonesia.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from pandas.io import gbq

In [17]:
query = """
SELECT * FROM `bigquery-public-data.noaa_tsunami.historical_runups` 

"""

df_all_country = gbq.read_gbq(query=query,dialect='standard',project_id='ir-geospatial')

In [20]:
# filter data Indonesia
df_indonesia =  df_all_country.loc[df_all_country['country']== 'INDONESIA']
df_indonesia.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2591 entries, 55 to 28077
Data columns (total 34 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            2591 non-null   Int64
 1   tsevent_id                    2591 non-null   Int64
 2   year                          2591 non-null   Int64
 3   month                         2586 non-null   Int64
 4   day                           2580 non-null   Int64
 5   timestamp                     2580 non-null   object
 6   doubtful                      10 non-null     object
 7   country                       2591 non-null   object
 8   state                         2568 non-null   object
 9   location_name                 2591 non-null   object
 10  latitude                      2541 non-null   float64
 11  longitude                     2541 non-null   float64
 12  region_code                   2591 non-null   Int64
 13  distance_from_source          2541 non-null   Int64
 14  arr_day                       41 non-null     Int64
 15  arr_hour                      41 non-null     Int64
 16  arr_min                       41 non-null     Int64
 17  travel_time_hours             40 non-null     Int64
 18  travel_time_minutes           47 non-null     Int64
 19  water_ht                      2210 non-null   float64
 20  horizontal_inundation         805 non-null    float64
 21  type_measurement_id           2574 non-null   Int64
 22  period                        30 non-null     float64
 23  first_motion                  22 non-null     object
 24  deaths                        116 non-null    Int64
 25  deaths_description            155 non-null    Int64
 26  injuries                      27 non-null     Int64
 27  injuries_description          29 non-null     Int64
 28  damage_millions_dollars       3 non-null      float64
 29  damage_description            298 non-null    Int64
 30  houses_damaged                14 non-null     Int64
 31  houses_damaged_description    111 non-null    Int64
 32  houses_destroyed              41 non-null     Int64
 33  houses_destroyed_description  164 non-null    Int64
dtypes: Int64(22), float64(6), object(6)
memory usage: 764.1+ KB

**Null Check**

In [ ]:
#original
print("shape before drop null :", df_indonesia.shape)
      
#drop null on lat long
df_indonesia.dropna(axis = 0, subset = ['latitude','longitude'], inplace=True)
      
print("shape after drop null :", df_indonesia.shape)

shape before drop null : (2591, 34)
shape after drop null : (2541, 34)

In [ ]:
df_indonesia['state'].value_counts()

ACEH                   576
WEST SUMATRA           368
CENTRAL SULAWESI       330
BANTEN                 255
LAMPUNG                150
MALUKU                 119
EAST JAVA              110
EAST NUSA TENGGARA     101
WEST JAVA               99
NORTH SUMATRA           91
PAPUA                   65
CENTRAL JAVA            45
NORTH SULAWESI          39
BENGKULU                38
NORTH MALUKU            34
BALI                    20
WEST PAPUA              16
YOGYAKARTA              15
WEST NUSA TENGGARA      14
SOUTH SULAWESI          10
SUMATRA                  6
WESTJAVA                 6
WEST SULAWESI            5
SOUTH KALIMANTAN         5
JAKARTA                  4
SOUTH EAST SULAWESI      4
SULAWESI ISLAND          2
GORONTALO                2
SUNDA STRAIT             2
BANGKA-BELITUNG          1
RIAU                     1
WEST KALIMANTAN          1
EAST KALIMANTAN          1
Name: state, dtype: int64